@model Setting
@{
    Layout = null;
}


<div class="footer-contacts">
    <p>
        <span>Tel:</span>
       @Model.Phone
    </p>

    <p>
        <span>Email:</span>
        @Model.Email
    </p>
    <p>
        <span>Working Hours:</span>
        9am-5pm
    </p>
</div>
